.header {
   & * {
      color: black !important;
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
         "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
   }

   & > .logo {
      display: flex;
      justify-content: start;
      align-items: center;
      height: 100px;

      & > a:first-child {
         font-size: 25px;
         font-weight: bolder;
         text-transform: uppercase;
      }
   }

   & > .signin {
      display: flex;
      justify-content: end;
      align-items: center;
      & > a:first-child {
         margin-right: 20px;
      }
   }
}
