.shadowbox {
   box-shadow: 0px 55px 25px 4px #8080801f;
   margin-top: -30px;
}

.searchPage {
   margin: 90px 0 110px;

   & *::selection {
      color: black;
      background-color: lightgreen;
   }

   & .filters {
      & .multiselect {
         & * {
            border: none;
            margin-bottom: 0;
         }

         & > span {
            display: inline-block;
            width: 85%;
            font-weight: bold;
            position: relative;
            top: 30px;
            background-color: white;
            z-index: 99;
         }

         & .dropdown-container {
            box-shadow: none;

            & .dropdown-content {
               z-index: 100;
            }
         }
      }
   }

   & .showing {
      & > div:first-child {
         display: flex;
         justify-content: space-between;

         & span + div {
            display: flex;

            & > span {
               margin-right: 10px;
            }
         }
      }
   }

   & .boxes {
      margin: 30px 0;
   }
}
